body
{
    margin: 0; padding: 0;
}
.header
{
    height: 140px;
    margin-bottom: 15px;
    background-color: coral;
}
.content
{
    width: 690px;
    height: 450px;
    background-color: grey;
    float: right;
}
.sidebar
{
    width: 275px;
    height: 450px;
    background-color: rgb(218, 16, 16);
    float: left;
}
.footer
{
    height: 100px;
    margin-top: 150px;
    background-color: lightgreen;
}